.panda-bg-colors{
    background-color: #feeae9;
}
.panda-btn-colors{
    color: white;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}
.containers img{
    width: 100px;
}